html {
    background: bisque;
}

body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    left: 40px;
    padding: 10px
    color: darkblue;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;

}

#blog {
    border-top: 1px dotted #ccc;

}

.blog-post {
    border-bottom: 1px dotted #ccc;

}

.img-container {
    background: blue;
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 10px;
}