html {
    background: bisque;
}

body {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    top: 30px;
    left: 30px;
    right: 30;
    padding: 10px;
    color: darkslateblue;
    border-top: 10px solid #242424;
}

h1 {
    font-size: 3em;
    margin: 10;

}

p {
    line-height: 1.4em;

}

#blog {
    border-top: 1px dotted #ccc;

}

.blog-post {
    border-bottom: 1px dotted #ccc;

}

.img-container {
    background: blue;
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 10px;
}

header {
    background: cornsilk;
}

section {
    background: blanchedalmond;
    display: flex;
}

article {
    background: blanchedalmond;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(2) {
    flex: 3;
}

article:nth-last-of-type(2) {
    flex: 3;
}

article:nth-last-of-type(2) {
    flex: 3;
}