html {
    background: bisque;
}

body {
    background-color: beige;
}

h1 {
    font-size: 3em;
    margin: 10;

}

p {
    line-height: 1.4em;

}

#blog {
    border-top: 1px dotted #ccc;

}

.blog-post {
    border-bottom: 1px dotted #ccc;

}

.img-container {
    background: blue;
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 10px;
}